<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.oop_project">
    <!-- All required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/img"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="30">
        <activity
            android:name=".activities.common.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.AddRulesAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ScheduleAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.OrderScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.BorrowsAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.EquipmentsBorrowedActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.user.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.EquipmentUserShowActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common.EquipmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.EquipmentEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.EquipmentManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.EquipmentListAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.EquipmentAddActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.CategoryAddActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.DashboardUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common.LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.common.RegisterActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.common.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>